# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/
/lib_core/build/
/lib_core/build/intermediates/javac/debug/classes/
/lib_utils/build/
/lib_utils/build/intermediates/javac/debug/classes/